<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/admin/css/login.css">
</head>

<body class="align">
<div class="grid">
    <form action="/admin/" method="post" class="form login">
        <input type="hidden" name="login" value="1">
        <header class="login__header">
            <h3 class="login__title">Авторизация</h3>
            {%  if data['error'] is defined %}
                <p>{{ data['error'] }}</p>
            {% endif %}
        </header>

        <div class="login__body">
            <div class="form__field">
                <input type="email" placeholder="Email" name="email" required>
            </div>
            <div class="form__field">
                <input type="password" placeholder="Пароль" name="password" required>
            </div>
        </div>

        <footer class="login__footer">
            <input type="submit" value="Login">
        </footer>
    </form>
</div>
</body>
</html>